@charset "UTF-8";
.dropdownS{
  position : relative;
  display : inline-block;
}
#search{
  border-radius : 4px;
  background-color: #fafafa;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
}
.contentS{
  display : none;
  position : absolute;
  left : -70px;
  top : 38px;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  background-color: white;
  border-radius:10px;
  min-width : 340px;
  min-height : 380px;
  max-height : 380px;
  padding: 0;
  box-shadow: 2px -2px 4px 0px rgb(239,239,239);
  list-style:none; /* 리스트 옆에 점 뜨는거 지우기 */
}
.contentS a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
/*   padding : 0px 20px; */
/*   padding : 0; */
}
.contentS .contentDIV{
	overflow: auto;
}
.contentDIV{
	margin-top: 20px;
	list-style:none; /* 리스트 옆에 점 뜨는거 지우기 */
}
.contentDIV ul{
	padding: 0;
}
.DTN{
	text-align: center;
	font-weight: bold;
}
.DCT{
	width : 100%;
	height: 100%;
	padding-top : 150px;
	
	text-align: center;
	color : #adadad;
}
.searchResult{
	display: inline-block;
	width: 100%;
	height : 51px;
	padding: 0;
}
.SRCU{
	width: 100%;
	height : 51px;
	padding: 0;
	padding-top: 4px;
	padding-left: 20px;
}
.SRCU:hover{
	background: #fafafa;
	text-decoration:none;
}
.SRCU .SPIMG{
	width: 42px;
	height : 42px;
    display:table-cell;
    vertical-align:middle;
	margin-right : 15px;
	
	border : 1px solid #adadad;
	border-radius: 70%;
	padding : 5px;
	font-size: 20px;
	text-align: center;
}
.SRCU .RUIMG{
	width: 42px;
	height : 42px;
    display:table-cell;
    vertical-align:middle;
	margin-right : 15px;
	padding : 2px;
	
	border : 1px solid #adadad;
	border-radius: 70%;
	font-size: 20px;
	text-align: center;
}
.RUP{
	width: 39px;
	height : 39px;
	display:table-cell;
    vertical-align:middle;
	text-align : center;
	
    margin : 0;
	border : 1px solid #adadad;
	border-radius: 70%;
}
.SRCT{
/* 	display : inline-block; */
	display:table-cell;
    vertical-align:middle;
	margin: 0;
	padding-left: 10px;
}
.SRCT span{
	display: block;
}
.SRCT span:first-child{
	font-weight: bold;
	font-size: 13px;
}
.SRCT span:last-child{
	color : #adadad;
	font-size: 13px;
}
.SFCT{
	width: 100%;
	height: 100%;
	margin-top : 180px;
	
	font-size: 15px;
	font-weight : bold;
	text-align: center;
	color : #adadad;
} 

/* 언니가 작성한거 가져옴 */
.searcharea p input:after { 
    box-sizing:border-box; 
    padding: 0; 
    width:100%; 
    height:100%; 
    border: 0 none; 
    color:#595f63; 
    outline:none; 
    font-size: 14px;
    transition:all .3s ease; 
}

.searcharea p label { 
    position:absolute;
    left: 80px; 
    top: 1px;
    bottom:5px;
    width:30%; 
    height:100%; 
    pointer-events:none; 
    color: #8e8e8e;
    align-items: center;
    margin: 0;
}

.searcharea p label:after { 
    content: "";
    position:absolute;
    left: 80px;  
    bottom:-1px; 
    width:0; 
    height:100%; 
    transition:all .3s ease; 
    /* align-items: center; */
}

.searcharea p label span { 
    position:absolute; 
    bottom:5px; 
    transition:all .3s ease; 
    font-size: 14px;
    display: flex;
    font-weight: lighter;
}

.searcharea p label img{
    display: block;
    margin-top: 5px; 
    position:absolute;
    left : -16px;
    
    width: 14px;
    height: 14px;  
}
.searcharea p{
    position:relative;
    border: 1px solid #dbdbdb;
    border-radius: 5px; 
    width: 210px;
    height: 28px;
    /* background: #fafafa; */
    margin: auto 0;
    background: #fafafa;
}
.searcharea p input{
    box-sizing:border-box; 
    padding:0 17px 0; 
    width:90%; 
    height:100%; 
    border: 0 none; 
    color:#595f63; 
    outline:none; 
    font-size: 16px;
    background: #fafafa;
}  
.dropdownS p img{
	position:absolute;
    left: 0px;  
    top : 0px;
	width: 18px;
	height: 18px;
}
.searchCancelBTN{
	position:absolute;
    left: 185px;  
    top : 4px;
	width: 25px;
	height: 25px;
	border : 0;
	background: none;
} 

  
p input:focus + label span{
  transform:translateX(-210%); 
} 
p input:focus + label::after,
p input:valid + label::after { width:100%;} 






























